---
title: Thanks
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<!-- most shared -->
<!-- popular / most shared nuggets -->
<div id="popular-shares" class="row">
  <h2><span>Most shared this week</span></h2>
  <div class="row">
    
<div id="nugget-558d973d396163000c810000" class="col-md-4 nugget clickable analytic_event " data-href="http://upworthy.com/how-7-things-that-have-nothing-to-do-with-rape-perfectly-illustrate-the-concept-of-consent?c=pop" data-sponsor-slug="false">
  <div class="share-wrapper">
    <a href="http://upworthy.com/how-7-things-that-have-nothing-to-do-with-rape-perfectly-illustrate-the-concept-of-consent?c=pop" class="eyecatcher">
      <img class="imgix-fluid" data-src="https://upw-prod-images.global.ssl.fastly.net/nugget/558ddfb4313938000c490300/4-d9460aa77bc3e06dfe6426c7ea7956b0.jpg?&amp;s=b0bf7e862ceb918be6c33809ef4874e0" src="https://upw-prod-images.global.ssl.fastly.net/nugget/558ddfb4313938000c490300/4-d9460aa77bc3e06dfe6426c7ea7956b0.jpg?dpr=2.5&amp;fit=crop&amp;h=190&amp;ixjsv=1.0.24&amp;q=40&amp;w=360">
    </a>
    <div class="shares">
      <strong>67.6K</strong> shares
    </div>
  </div>
  <div class="nugget-info">
    <div class="metadata">
        Health
    </div>
    <h3>
      <a href="http://upworthy.com/how-7-things-that-have-nothing-to-do-with-rape-perfectly-illustrate-the-concept-of-consent?c=pop"></a><a rel="analytic_event" data-ga-category="General" data-ga-action="Popular nugget" data-ga-label="http://upworthy.com/how-7-things-that-have-nothing-to-do-with-rape-perfectly-illustrate-the-concept-of-consent" data-href="http://upworthy.com/how-7-things-that-have-nothing-to-do-with-rape-perfectly-illustrate-the-concept-of-consent" href="http://upworthy.com/how-7-things-that-have-nothing-to-do-with-rape-perfectly-illustrate-the-concept-of-consent?c=pop">How 7 things that have nothing to do with rape perfectly illustrate the concept of consent</a>
              <div class="author">
          Angie Aker
        </div>

    </h3>
  </div>
</div><!-- /nugget -->

<div id="nugget-55913ebb343363002c050000" class="col-md-4 nugget clickable analytic_event promoted" data-href="http://upworthy.com/meet-the-15-year-old-hero-who-just-gave-the-un-some-real-talk-about-the-future-of-his-generation?c=pop" data-sponsor-slug="unilever-climate-action">
  <div class="share-wrapper">
    <a href="http://upworthy.com/meet-the-15-year-old-hero-who-just-gave-the-un-some-real-talk-about-the-future-of-his-generation?c=pop" class="eyecatcher">
      <img class="imgix-fluid" data-src="https://upw-prod-images.global.ssl.fastly.net/nugget/5591b604323738000c260200/PM-498363e8b46ae290a5dfe5fdee055193.png?&amp;s=d0430ee7d396bf1ca73add384ba2c19b" src="https://upw-prod-images.global.ssl.fastly.net/nugget/5591b604323738000c260200/PM-498363e8b46ae290a5dfe5fdee055193.png?dpr=2.5&amp;fit=crop&amp;h=190&amp;ixjsv=1.0.24&amp;q=40&amp;w=360">
    </a>
    <div class="shares">
      <strong>16.6K</strong> shares
    </div>
  </div>
  <div class="nugget-info">
    <div class="metadata">
        Democracy
    </div>
    <h3>
      <a href="http://upworthy.com/meet-the-15-year-old-hero-who-just-gave-the-un-some-real-talk-about-the-future-of-his-generation?c=pop"></a><a rel="analytic_event" data-ga-category="General" data-ga-action="Popular nugget" data-ga-label="http://upworthy.com/meet-the-15-year-old-hero-who-just-gave-the-un-some-real-talk-about-the-future-of-his-generation" data-href="http://upworthy.com/meet-the-15-year-old-hero-who-just-gave-the-un-some-real-talk-about-the-future-of-his-generation" href="http://upworthy.com/meet-the-15-year-old-hero-who-just-gave-the-un-some-real-talk-about-the-future-of-his-generation?c=pop">Meet the 15-year-old hero who just gave the U.N. some real talk about the future of his generation.</a>

    </h3>
  </div>
</div><!-- /nugget -->

<div id="nugget-558d66c0633139000c2e0200" class="col-md-4 nugget clickable analytic_event " data-href="http://upworthy.com/good-bye-plastic-lego-announces-a-huge-change-in-the-future-of-its-toys?c=pop" data-sponsor-slug="false">
  <div class="share-wrapper">
    <a href="http://upworthy.com/good-bye-plastic-lego-announces-a-huge-change-in-the-future-of-its-toys?c=pop" class="eyecatcher">
      <img class="imgix-fluid" data-src="https://upw-prod-images.global.ssl.fastly.net/nugget/55915b20643630000cc70000/legos-80963822a27f574cd4436721083d111a.jpg?&amp;s=30121d71d232f42813f4d9f223b9b40b" src="https://upw-prod-images.global.ssl.fastly.net/nugget/55915b20643630000cc70000/legos-80963822a27f574cd4436721083d111a.jpg?dpr=2.5&amp;fit=crop&amp;h=190&amp;ixjsv=1.0.24&amp;q=40&amp;w=360">
    </a>
    <div class="shares">
      <strong>11.5K</strong> shares
    </div>
  </div>
  <div class="nugget-info">
    <div class="metadata">
        Environment
    </div>
    <h3>
      <a href="http://upworthy.com/good-bye-plastic-lego-announces-a-huge-change-in-the-future-of-its-toys?c=pop"></a><a rel="analytic_event" data-ga-category="General" data-ga-action="Popular nugget" data-ga-label="http://upworthy.com/good-bye-plastic-lego-announces-a-huge-change-in-the-future-of-its-toys" data-href="http://upworthy.com/good-bye-plastic-lego-announces-a-huge-change-in-the-future-of-its-toys" href="http://upworthy.com/good-bye-plastic-lego-announces-a-huge-change-in-the-future-of-its-toys?c=pop">Good-bye plastic: Lego announces a huge change in the future of its toys.</a>
              <div class="author">
          Wagatwe Wanjuki
        </div>

    </h3>
  </div>
</div><!-- /nugget -->

  </div>
</div>