---
title: Thanks
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
{{> small-header }}

<section id="thanks-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Thanks for contacting us. We will get back to you shortly.</h1>
        <a href="/">Back to Home..</a>
      </div>
    </div>
  </div>
</section>
