---
component: faq
---
<section id="faq-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>FAQ</h2>

        <div class="question">
          <h4>Will there be a firefox extension?</h4>
          <p>
            Yes! We are working on it.
          </p>
        </div>

        <div class="question">
          <h4>Do you plan on supporting any other languages?</h4>
          <p>
            We are planning on supporting other languages at some point. If you have a request for a specific language. Send us an email.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>