---
component: hello
---
<section id="hello-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 centered">
        <a href="/" id="logo">
          <img src="/assets/images/logo-100.png">
          <div id="logo-text">clickshame.com</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div id="intro">Report clickbait!</div>
      </div>
    </div>

  </div>
</section>