---
component: navbar
---
<section id="instructions-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Report Clickbait</h2>
        <p>When you click on something you think is clickbait, warn others by reporting it through the extension.</p>
        <img src="/assets/images/step2.png">
      </div>

      <div class="col-md-4">
        <h2>Identify Bad Links</h2>
        <p>Links with a clickshame score are highlighted so they are easy to identify.</p>
        <img src="/assets/images/step3.png">
      </div>

      <div class="col-md-4">
        <h2>Dont Click</h2>
        <p>Hover over the link to get the clickshame score and user comments. Dont waste your time on bad links.</p>
        <img src="/assets/images/step3.png">
      </div>
    </div>
  </div>
</section>