---
component: navbar
---
<section id="instructions">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Step One</h2>
        <div>Install the Chrome extension.</div>
        <img src="/assets/images/step1.png">
      </div>

      <div class="col-md-4">
        <h2>Step Two</h2>
        <div>Report clickbait.</div>
        <img src="/assets/images/step2.png">
      </div>

      <div class="col-md-4">
        <h2>Step Three</h2>
        <div>Hover to see the score. Dont give them a click.</div>
        <img src="/assets/images/step3.png">
      </div>
    </div>
  </div>
</section>