---
component: mission
---
<section id="mission-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <!-- <div class="def">
          <div class="def-word">click·bait</div>
          <div class="def-speech">ˈklikbāt</div>
          <div class="def-type">noun</div>
          <div class="def-def">
            <p>Internet content, especially that of a sensational or provocative nature, whose main purpose is to attract attention and draw visitors to a particular web page.</p>
          </div>

          <div class="def-desc">
            <p>Have you ever felt tricked by an article title? Or deceived by a link? This is Clickbait, sensationalilst articles and headlines designed to simply get your click. Clickbait is not only poisoning internet journalism, it spreads lies, causes outrage, and can even harm people in the real world. It’s a problem, and needs a solution.</p>
          </div>
        </div>

        <div class="def">
          <div class="def-word">shame</div>
          <div class="def-speech">SHām/</div>
          <div class="def-type">noun</div>
          <div class="def-def">
            <p>A painful feeling of humiliation or distress caused by the consciousness of wrong or foolish behavior.</p>
          </div>

          <div class="def-desc">
            <p>Clickshame is the answer to Clickbait. The catalyst for a change. Demand more from your RSS feeds, your blogs, and your news outlets. Report sites that mislead, slander, enrage, or lie. With every site added, another user is protected from a false click.</p>
          </div>
        </div>

        <div class="def">
          <div class="def-word">so·lu·tion</div>
          <div class="def-speech">səˈlo͞oSH(ə)n</div>
          <div class="def-type">noun</div>
          <div class="def-def">
            <p>A means of solving a problem or dealing with a difficult situation.<p>
          </div>

          <div class="def-desc">
            <p>How can you help solve this problem? Participate. Add Clickbait, either through the site or the chrome extension. Share it with your friends. And when you see that red link? Don’t click.</p>

            <p>Let’s improve the internet together, one link at a time.</p>
          </div>
        </div> -->


        <h1>Why Clickshame?</h1>

        <p>
          You know that sting of annoyance and anger you get when you accidently click on clickbait? Clickshame was born deep within a sloppy cespool of those feelings.
        </p>

        <p>
          Nobody likes clickbait. It is a waste of time, it makes you feel tricked and decieved. At its worst it can spread lies and false outrage across the internet and even ruin lives. We created clickshame.com to continue the discussion about clickbait on the internet. This isn't the first time society has had a problem with yellow journalism. Clickshame is not meant to be the whole solution, but we hope that it will be a catalyst. A catalyst for innovation in the online media industry.
        </p>

        <p>
          Our hope is that new business models can be discovered and implemented that reward quality content over deceptive and cheap tricks for clicks.
        </p>

        <p>
          You can help by participating and sharing. The more people who regularly use Clickshame, the more powerful it will be.
        </p>

      </div>
    </div>
  </div>
</section>