---
component: small-header
---
<section id="small-header-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2 centered">
        <a href="/" class="small-header-logo">
          <img class="logo-image" src="/assets/images/logo-100.png">
          <div class="logo-text">clickshame.com</div>
        </a>
      </div>
    </div>


  </div>
</section>