---
component: social
---
<section id="social-wrapper">
  <div class="container">

    <div class="row">
      <div class="social-buttons">
        <div class="social-header">Please Consider Sharing</div>
        <div class="ssk-group">
          <a href="" class="ssk ssk-lg ssk-facebook"></a>
          <a href="" class="ssk ssk-lg ssk-twitter"></a>
          <a href="" class="ssk ssk-lg ssk-google-plus"></a>
          <a href="" class="ssk ssk-lg ssk-pinterest"></a>
          <a href="" class="ssk ssk-lg ssk-tumblr"></a>
          <a href="" class="ssk ssk-lg ssk-reddit2"></a>
          <a href="" class="ssk ssk-lg ssk-linkedin"></a>
        </div>
        <div class="social-footer">The more people who use clickshame, the more effective it will be.</div>
      </div>
    </div>
  </div>
</section>
<script src="{{assets}}/js/social-share-kit.min.js"></script>
