---
component: stats
---
<section id="stats-wrapper">
  <div class="container">
    <div class="row">
      <div id="stats">
        <div><span class="stat identity-total" id="identity-total">0</span> users have reported </div>
        <div><span class="stat reference-total" id="reference-total">0</span> clickbait pages across </div>
        <div><span class="stat domain-total" id="domain-total">0</span> domains</div>
      </div>
    </div>
  </div>
</section>