---
component: wall
---
<section id="wall-wrapper">
  <div class="container">

    <div class="row">
      <h1>Wall of Clickshame</h1>

      <div class="col-md-4 strike-wall">
        <h3>Recent Reports</h3>

        <ul>
          <li>upworthy.com/see-what-happened-when-stephen-colbert-saw-the-wishlist-of-hundreds-of-teachers-from-his-home-state-ma3-2d</li>
          <li>distractify.com/jake-heppner/scenes-from-the-past-you-never-expected-never-seen-before</li>
          <li>globalpost.com/article/6537732/2015/05/04/moldova-protest-stolen-1-billion</li>
          <li>tvr.com/2015/05/06/lance-calvin-buckley-missing</li>
          <li>cnn.com/2014/11/13/living/matt-taylor-shirt-philae-rosetta-project</li>
          <li>washingtonpost.com/news/speaking-of-science/wp/2014/11/14/scientist-apologizes-for-his-sexist-shirt-but-the-internet-still-wants-women-to-shut-up-and-</li>
          <li>theguardian.com/science/2014/nov/14/rosetta-comet-dr-matt-taylor-apology-sexist-shirt</li>
          <li>mediaite.com/tv/comet-scientist-breaks-down-in-tears-apologizing-for-sexist-shirt</li>
          <li>buzzfeed.com/pfequiere/heres-what-the-cast-of-my-wife-kids-look-like-wu27</li>
          <li>upworthy.com/they-survived-1000-years-in-the-middle-of-the-pacific-and-then-we-arrived</li>
          <li>mashable.com/2014/11/13/esa-scientist-sexist-shirt</li>
          <li>wired.com/2012/04/can-an-algorithm-write-a-better-news-story-than-a-human-reporter</li>
          <li>rollingstone.com/politics/news/how-roger-ailes-built-the-fox-news-fear-factory-20110525</li>
          <li>bbc.com/news/blogs/ouch</li>
          <li>huffingtonpost.com/thomas-church/ryan-holiday-trust-me-im-lying_b_1715524.html</li>
          <li>create-strike-post-request-test3.com/rubenguevara/how-many-of-these-fast-food-menu-items-have-you-tried</li>
          <li>theguardian.com/science/2014/nov/14/rosetta-comet-dr-matt-taylor-apology-sexist-shirt</li>
          <li>mediaite.com/tv/comet-scientist-breaks-down-in-tears-apologizing-for-sexist-shirt</li>
          <li>buzzfeed.com/pfequiere/heres-what-the-cast-of-my-wife-kids-look-like-wu27</li>
          <li>upworthy.com/they-survived-1000-years-in-the-middle-of-the-pacific-and-then-we-arrived</li>
        </ul>
      </div>

      <div class="col-md-4 domain-wall">
        <h3>Today's Worst Domains</h3>
        <ul>
          <li><span class="score">121</span>upworthy.com</li>
          <li><span class="score">121</span>distractify.com</li>
          <li><span class="score">121</span>globalpost.com</li>
          <li><span class="score">121</span>create-strike.com</li>
          <li><span class="score">121</span>wtvr.com</li>
          <li><span class="score">121</span>cnn.com</li>
          <li><span class="score">121</span>washingtonpost.com</li>
          <li><span class="score">121</span>theguardian.com</li>
          <li><span class="score">121</span>mediaite.com</li>
          <li><span class="score">121</span>buzzfeed.com</li>
          <li><span class="score">121</span>mashable.com</li>
          <li><span class="score">121</span>wired.com</li>
          <li><span class="score">121</span>rollingstone.com</li>
          <li><span class="score">121</span>bbc.com</li>
          <li><span class="score">121</span>huffingtonpost.com</li>
          <li><span class="score">121</span>wtvr.com</li>
          <li><span class="score">121</span>cnn.com</li>
          <li><span class="score">121</span>washingtonpost.com</li>
          <li><span class="score">121</span>theguardian.com</li>
          <li><span class="score">121</span>globalpost.com</li>
        </ul>
      </div>

      <div class="col-md-4 reference-wall">
        <h3>Today's Worst Links</h3>
        <ul>
          <li><span class="score">121</span>upworthy.com/see-what-happened-when-stephen-colbert-saw-the-wishlist-of-hundreds-of-teachers-from-his-home-state-ma3-2d</li>
          <li><span class="score">121</span>distractify.com/jake-heppner/scenes-from-the-past-you-never-expected-never-seen-before</li>
          <li><span class="score">121</span>globalpost.com/article/6537732/2015/05/04/moldova-protest-stolen-1-billion</li>
          <li><span class="score">121</span>tvr.com/2015/05/06/lance-calvin-buckley-missing</li>
          <li><span class="score">121</span>cnn.com/2014/11/13/living/matt-taylor-shirt-philae-rosetta-project</li>
          <li><span class="score">121</span>washingtonpost.com/news/speaking-of-science/wp/2014/11/14/scientist-apologizes-for-his-sexist-shirt-but-the-internet-still-wants-women-to-shut-up-and-</li>
          <li><span class="score">121</span>theguardian.com/science/2014/nov/14/rosetta-comet-dr-matt-taylor-apology-sexist-shirt</li>
          <li><span class="score">121</span>mediaite.com/tv/comet-scientist-breaks-down-in-tears-apologizing-for-sexist-shirt</li>
          <li><span class="score">121</span>buzzfeed.com/pfequiere/heres-what-the-cast-of-my-wife-kids-look-like-wu27</li>
          <li><span class="score">121</span>upworthy.com/they-survived-1000-years-in-the-middle-of-the-pacific-and-then-we-arrived</li>
          <li><span class="score">121</span>mashable.com/2014/11/13/esa-scientist-sexist-shirt</li>
          <li><span class="score">121</span>wired.com/2012/04/can-an-algorithm-write-a-better-news-story-than-a-human-reporter</li>
          <li><span class="score">121</span>rollingstone.com/politics/news/how-roger-ailes-built-the-fox-news-fear-factory-20110525</li>
          <li><span class="score">121</span>bbc.com/news/blogs/ouch</li>
          <li><span class="score">121</span>huffingtonpost.com/thomas-church/ryan-holiday-trust-me-im-lying_b_1715524.html</li>
          <li><span class="score">121</span>create-strike-post-request-test3.com/rubenguevara/how-many-of-these-fast-food-menu-items-have-you-tried</li>
          <li><span class="score">121</span>theguardian.com/science/2014/nov/14/rosetta-comet-dr-matt-taylor-apology-sexist-shirt</li>
          <li><span class="score">121</span>mediaite.com/tv/comet-scientist-breaks-down-in-tears-apologizing-for-sexist-shirt</li>
          <li><span class="score">121</span>buzzfeed.com/pfequiere/heres-what-the-cast-of-my-wife-kids-look-like-wu27</li>
          <li><span class="score">121</span>upworthy.com/they-survived-1000-years-in-the-middle-of-the-pacific-and-then-we-arrived</li>
        </ul>
      </div>

    </div>
  </div>
</section>