---
component: wall
---
<section id="wall-wrapper">
  <div class="container">

    <div class="row">
      <h1>Wall of Clickshame</h1>

      <div class="col-md-4 strike-wall">
        <h3>Recent Reports</h3>

        <ul></ul>
      </div>

      <div class="col-md-4 domain-wall">
        <h3>Worst Domains</h3>
        <ul></ul>
      </div>

      <div class="col-md-4 reference-wall">
        <h3>Worst Links</h3>
        <ul></ul>
      </div>

    </div>
  </div>
</section>