.chrome-extension-link {
  &:link {
    text-decoration: none;
  }

  &:visited {
    color: lighten( $pop-color-very-dark, 10% );
    text-decoration: none;
    color: $off-black;
  }

  &:active {
    color: lighten( $pop-color-very-dark, 10% );
    text-decoration: none;
  }


  font-size: 1.4em;
  color: $off-black;
  border: 5px solid;
  padding: .2em .6em;
  display: block;

  &:hover {
    color: lighten( $pop-color-very-dark, 10% );
    text-decoration: none;
  }

  img {
    height: 1em;
    position: relative;
    top: -5px;
  }
}

@media (min-width: $screen-sm-min) {
  .chrome-extension-link {
    font-size: 1.8em;
  }
}