#instructions-wrapper {
  h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 200;
    margin-bottom: 1.7em;
  }

  padding: 8em 0;
  background: $pop-color-very-dark;
  color: #fff;

  img { width: 100%; }
  h2 { text-align: center; }
  p {
    margin: 2em 0;
    font-size: 1.3em;
  }
}

.num-dot {
  border: 1px solid;
  border-radius: 50%;
  padding: 0.1em 0.4em;
}

.step {
  margin-top: 5em;
}

@media (min-width: $screen-md-min) {
  .step {
    margin-top: 0;
  }
}