#mission-wrapper {
  background: $off-black;
  color: #fff;
  padding: 8em 0;

  p {
    margin: 2em 0;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: .02em;
  }

  .def {
    margin: 2em;
  }
  .def-word {
    font-weight: bold;
    font-size: 2.6em;
  }
  .def-speech {
    font-weight: 200;
    font-size: 1.6em;
  }
  .def-type {
    font-style: italic;
    font-size: 1.4em;
  }

}