#stats-wrapper {
  text-align: center;
  background: $pop-color-very-dark;
  color: #fff;
  padding-top: 8em;
  padding-bottom: 9em;
}
#stats {
  font-size: 2.3em;
  font-weight: 200;

  .stat{
    font-weight: bold;
    font-size: 1.3em;
  }
}