#ticker-wrapper {
  background: $off-white;
  padding-top: 5em;
  padding-bottom: 10em;
  overflow: hidden;
}
#clickbait-ticker {
  overflow-x: scroll;
  white-space: nowrap;

  img {
    height: 300px;
    margin-right: 50px;
    display: inline-block;
    border: 2px solid;
  }
}