$pop-color: #ff1a1a;
$pop-color-dark: darken( $pop-color, 10% );
$pop-color-very-dark: darken( $pop-color-dark, 25% );
$pop-color-mid-dark: darken( $pop-color-dark, 5% );
$off-white: rgb(241, 241, 241);
$off-black: #22272a;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.btn-pop {
  background: $pop-color-dark;
  color: #FFF;
  &:link {
    background: $pop-color-mid-dark;
    color: #FFF;
  }
  &:hover {
    background: $pop-color-mid-dark;
    color: #FFF;
  }
  &:active {
    background: $pop-color-mid-dark;
    color: #FFF;
  }
  &:visited {
    background: $pop-color-mid-dark;
    color: #FFF;
  }
}

body {
  color: $off-black;
}

@import '_stats';
@import '_hello';
@import '_report';
@import '_ticker';
@import '_extensions';
@import '_instructions';
@import '_social';
@import '_mission';
@import '_wall';
@import '_contact';
@import '_privacy';
@import '_faq';

@import '_footer';

@import '_small-header';

@import '_thanks';

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: $pop-color;
  border-radius: 100%;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/* Small devices (tablets, 768px and up) */
/* @media (min-width: $screen-sm-min) { ... } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: $screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: $screen-lg-min) { ... } */






