$pop-color: #ff1a1a;
$pop-color-dark: darken( $pop-color, 10% );

#logo-text {
  color: $pop-color;
  font-size: 5em;
  font-weight: bold;
  line-height: 0.6em;
  margin-bottom: 0.3em;

  &:hover {
    color: $pop-color-dark;
  }
}
#hello {
  width: 100%;
  padding-top: 5em;
  text-align: center;
}
#logo {
  cursor: pointer;
  &:hover { text-decoration: none; }
}
#intro{
  font-weight: bold;
  font-size: 9.8em;
  border-top: 2px solid #22272a;
  letter-spacing: -0.05em;
}
#stats {
  margin-bottom: 2em;
  margin-top: 1em;
  font-size: 1.8em;

  .stat{
    font-weight: bold;
    font-size: 1.3em;
  }
}
#clickbait-ticker {
  img {
    height: 20em;
  }
}
#instructions {
  margin-top: 3em;
  img { width: 100%; }
}