$pop-color: #ff1a1a;
$pop-color-dark: darken( $pop-color, 10% );
$pop-color-very-dark: darken( $pop-color-dark, 25% );
$off-white: rgb(241, 241, 241);
$off-black: #22272a;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.btn-pop {
  background: $pop-color-dark;
  color: #FFF;
    &:hover {
      background: darken( $pop-color-dark, 5% );
      color: #FFF;
    }
}

body {
  color: $off-black;
}

@import '_stats';
@import '_hello';
@import '_ticker';
@import '_extensions';
@import '_instructions';
@import '_social';
@import '_mission';
@import '_wall';
@import '_report';

@import '_footer';




/* Small devices (tablets, 768px and up) */
/* @media (min-width: $screen-sm-min) { ... } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: $screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: $screen-lg-min) { ... } */






